* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #edeaff;

}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images//background.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 30px 0;
    color: white;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}

.stopwatch h1 {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 300;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons img {
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}